.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-warning);
  flex-direction: column;

}

.link {
  font-size: 25rem;
  color: var(--c-white);
  letter-spacing: 0.5rem;
  margin-top: 50rem;
  transition: all 0.3s ease-out;
}

.link:hover {
  text-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.3);
}